/* =================================== */
/*  7. Footer
/* =================================== */

#footer {
  background: #fff;
  color: #252b33;
  .nav {
    .nav-item {
      display: inline-block;
      line-height: normal;
      margin: 0;
      padding: 0 10px;
      .nav-link {
        padding: 0;
        margin: 0.4rem 0px;
        color: #252b33;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        &:focus {
          color: var(--#{$prefix}themecolor);
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }
      }
    }
    .nav-link:hover {
      color: var(--#{$prefix}themecolor);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
  .newsletter {
	.form-control {
		height: 44px!important;
		background:transparent;
		border-color: rgba(0, 0, 0, 0.3);
		color:inherit;
	  }
	  .input-group-text {
		margin-left: 0px!important;
		background:transparent;
		border-color: rgba(0, 0, 0, 0.3);
		color:rgba(0, 0, 0, 0.4);
	  }
	}
  .footer-copyright {
    margin-top: 6.5rem;
	border-top: 1px solid #e2e8ea;
    padding: 40px 0px;
    color: #67727c;
    .nav {
      .nav-item .nav-link {
        color: #67727c;
      }
      .nav-link:hover {
        color: var(--#{$prefix}themecolor);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
    }
  }
  .nav.flex-column .nav-item {
    padding: 0px;
	.nav-link:hover {
        padding-left:7px;
      }
  }
  &.footer-dark {
    color: rgba(250, 250, 250, 1);
	background: color-mix(in srgb, var(--#{$prefix}themecolor) 20%, black);
    .nav .nav-item .nav-link, .dropdown-toggle {
      color: rgba(250, 250, 250, 1);
      &:hover {
        color: var(--#{$prefix}themecolor);
      }
    }
    .footer-copyright {
      border-color: rgba(250, 250, 250, 0.1);
      color: rgba(250, 250, 250, 1);
    }
	.newsletter {
	  .form-control {
		border-color: rgba(250, 250, 250, 0.5);
		color:rgba(250, 250, 250, 0.6);
	  }
	  .input-group-text {
		border-color: rgba(250, 250, 250, 0.5);
		color:rgba(250, 250, 250, 0.6);
	  }
	}
  }
}

@include media-breakpoint-down(sm) {
  #footer {
	.footer-copyright {
		margin-top: 3.5rem;
	}
  }
}

body:not(.rtl) #footer {
  .nav {
    .nav-item {
	  &:first-child {
        padding-left: 0px;
      }
      &:last-child{
        padding-right: 0px;
      }
    }
  }
}
.rtl #footer {
  .nav {
    .nav-item {
	  &:first-child {
        padding-right: 0px;
      }
      &:last-child {
        padding-left: 0px;
      }
    }
  }
}

/*=== 7.1 Social Icons ===*/
.social-icons {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  li {
    margin: 2px 6px;
    padding: 0;
    overflow: visible;
    a {
      display: flex;
	  justify-content:center;
	  align-items:center;
      height: 50px;
      width: 50px;
      font-size: 21px;
      text-align: center;
      color: #4d555a;
	  border:1px solid rgba(0,0,0,0.1);
	  border-radius:50%;
      text-decoration: none;
	  @include transition(all 0.2s ease);
    }
    i {
      line-height: inherit;
    }
  }
  &.social-icons-sm li{
    margin: 2px 4px;
  }
  &.social-icons-sm li a {
    font-size: 16px;
	height: 40px;
    width: 40px;
  }
  &.social-icons-light li a {
    color: #f8f9fa;
	border-color:rgba(250,250,250,0.1);
  }
  li {
    a:hover {
      color: var(--#{$prefix}themecolor);
	  border-color: var(--#{$prefix}themecolor);
    }
  }
}

html:not([dir="rtl"]) .social-icons {
  li {
	&:first-child{
	 margin-left:0px;
	}
	&:last-child{
	 margin-right:0px;
	}
  }
}
html[dir="rtl"] .social-icons {
  li {
	&:first-child{
	 margin-right:0px;
	}
	&:last-child{
	 margin-left:0px;
	}
  }
}

/*=== 7.2 Back to Top ===*/
#back-to-top {
  display:flex;
  justify-content: center;
  align-items:center;
  position: fixed;
  z-index: 1030;
  bottom: 1.5rem;
  right: 1.5rem;
  background:var(--#{$prefix}secondary);
  color: $white;
  font-size: 14px;
  width: 45px;
  height: 45px;
  text-decoration:none;
  border-radius: 50%;
  transform: scale(0);
  @include transition(all 0.3s ease-in-out);
	&.show {
		transform: scale(1);
	}
	&:hover {
		background-color: var(--#{$prefix}themecolor);
	  }
}
[data-bs-theme="dark"] {
	#back-to-top {
	  border:1px solid rgba(250,250,250,.3);
	  color: 1px solid rgba(250,250,250,.3);
	  &:after{
			  border-top: 1px solid rgba(250,250,250,0.7);
			  border-right: 1px solid rgba(250,250,250,0.7);
			}
		&:hover {
			background:transparent;
			border-color:rgba(var(--#{$prefix}themecolor-rgb), 1);
			&:after{
				border-color: rgba(var(--#{$prefix}themecolor-rgb), 1);
			}
		}
	}
}
html[dir="rtl"] body:not(.side-header-right) #back-to-top, html:not([dir="rtl"]) .side-header-right #back-to-top {
	left: 10px;
	right: auto;
}
@include media-breakpoint-only(xs) {
  #back-to-top {z-index: 1029;}
}