:root {
  --primary-color: #75caf3;
}
header{
    background-color: #fff !important;
}
.tf-btn{
    text-transform: none;
}
.logo img, .footer-logo img{
    height: 100px;
}
@media (max-width: 767px) {
    .logo img, .footer-logo img{
        height: 60px;
    }
}